@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: circle;
    color: (--black);
}

p{
    font-size: 13px;
}

table{
    border: 1px solid #000;
}